@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap");

* {
  font-family: "Baloo 2", sans-serif;
  margin: 0;
}

body {
  background-color: #00acc1;
}

.title {
  font-size: 5rem;
  padding: 5rem;
  display: flex;
  justify-content: center;
  color: yellow;
  font-weight: bold;
}
.containerCard {
  display: flex;
  justify-content: center;
}

#joke {
  font-size: 2em;
  font-weight: bold;
}

.containerSpan {
  width: 350px;
}

.card {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #fffdf9;
  height: 400px;
  width: 35%;
}

.containerSpan {
  font-size: 15px;
  color: #212121;
  grid-area: 2 / 2 / 5 / 5;
}

.button {
  grid-area: 5 / 1 / 6 / 3;
  margin-left: 45px;
  height: 50px;
  border: none;
  border-radius: 12px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  font-size: 1.2em;
}

.button:hover {
  background: #fdd835;
}

.like {
  display: flex;
  margin-left: 30px;
  grid-area: 5 / 3 / 6 / 4;
  height: 45px;
  background-color: yellow;
  width: 45px;
  justify-content: center;
}
.pictureLike {
  margin-top: 5px;
}

.share {
  display: flex;
  justify-content: center;
  grid-area: 5 / 4 / 6 / 5;
  height: 45px;
  background-color: blue;
  width: 45px;
  margin-left: 15px;
}

.pictureShare {
  margin-top: 5px;
}

.follow {
  grid-area: 5 / 5 / 6 / 6;
  height: 45px;
  background-color: blue;
  width: 45px;
}
