@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap");

:root {
  --base-color: #00acc1;
  --title-color: yellow;
  --color-card: #fffdf9;
  --color-span: #000000;
  --color-button: #ffeb3b;
  --color-socials: #eceff1;
  --color-switch: yellow;
}

.darkmode {
  --base-color: #2e1a47;
  --title-color: #f48fb1;
  --color-card: #37474f;
  --color-span: #ffffff;
  --color-button: #f48fb1;
  --color-socials: #ff9800;
  --color-switch: #f48fb1;
}

* {
  font-family: "Baloo 2", sans-serif;
  margin: 0;
}

body {
  background: var(--base-color);
}

#theme-switch {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-switch);
  border-color: var(--base-color);
}

#theme-switch img {
  fill: blue;
}

#theme-switch img:last-child {
  display: none;
}

.darkmode #theme-switch img:first-child {
  display: none;
}

.darkmode #theme-switch img:last-child {
  display: block;
}

.title {
  font-size: 5rem;
  padding: 5rem;
  display: flex;
  justify-content: center;
  color: var(--title-color);
  font-weight: bold;
}
.containerCard {
  display: flex;
  justify-content: center;
}

.txtJoke {
  font-size: 2em;
  font-weight: bold;
}

.containerSpan {
  width: 350px;
}

.card {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: var(--color-card);
  height: 400px;
  width: 35%;
}

.containerSpan {
  font-size: 15px;
  color: var(--color-span);
  grid-area: 2 / 2 / 5 / 5;
}

.button {
  grid-area: 5 / 1 / 6 / 3;
  margin-left: 45px;
  height: 50px;
  border: none;
  border-radius: 12px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  font-size: 1.2em;
  background: var(--color-button);
}

/* .button:hover {
  background: var(--color-button);
} */

.like {
  display: flex;
  margin-left: 30px;
  grid-area: 5 / 5 / 6 / 4;
  height: 45px;
  background-color: var(--color-socials);
  width: 45px;
  justify-content: center;
}
.pictureLike {
  margin-top: 5px;
}

.share {
  display: flex;
  justify-content: center;
  grid-area: 5 / 5 / 6 / 5;
  height: 45px;
  width: 45px;
  margin-left: 15px;
  background-color: var(--color-socials);
}

.pictureShare {
  margin-top: 5px;
}
